body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    header {
        display: flex;
        justify-content: space-between;
        padding: 0 20vw;
        box-shadow: 2px 2px #888888;
        
        .left {
            display: flex;
            align-items: center;

            #branding {
                font-size: 1.5rem;

                div {
                    padding: 0;
                    margin: 0;
                }
            }

            ul {
                display: flex;
                font-size: 1.2rem;
                
                li {
                    padding-left: 2rem;
                    list-style: none;
                }
            }
        }

        .right {
            display: flex;
            align-items: center;

            #profile {
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid black;
                width: 2rem;
                height: 2rem;
                margin-left: 1rem;
                border-radius: 50%;
                background-color: #150861;
                color: white
            }

            input {
                border: none;
                outline: 1px solid #888888;
                padding: .5rem 1rem;
                border-radius: .75rem;
            }
        }
    }

    main {
        flex-grow: 1;
        
        #hero {
            max-width: 100vw;
            display: flex;
            padding: 10vh 20vw;

            .left {
                flex: 1;

                .dottedBorder {
                    max-width: fit-content;
                    display: flex;
                    align-items: center;
                    padding: .25rem 2rem;
                    border: 1px dotted #888888;
                    border-radius: 1rem;

                    p {
                        display: inline-block;
                        margin-right: 1rem;
                    }
                }

                .hugeText {
                    font-size: 4rem;
                    font-weight: bold;
                    margin: 0;
                    color: #150861;
                }

                .description {
                    line-height: 1.5rem;
                    color: #676565;
                }

                .call2action {
                    button {
                        padding: 1rem;
                        margin-left: 1rem;
                        font-size: 1rem;
                        border: none;
                        background-color: #fff;
                        outline: 2px solid #888888;
                        border-radius: .75rem;

                    }
                    
                    #b2 {
                        background-color: #150861;
                        color:#fff;
                    }
                }
            } 
            
            .right {
                flex: 1;

                img {
                    max-height: 50vh;
                }
            }

        }
    }
}

@media (max-width: 1100px) {
    header {
        width: 100vw;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .right {
            padding-bottom: 2rem;
        }
    }

    #hero {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
      
}