body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    header {
        display: flex;
        justify-content: space-between;
        padding: 0 20vw;
        box-shadow: 2px 2px #888888;
        
        .left {
            display: flex;
            align-items: center;

            #branding {
                font-size: 1.5rem;

                div {
                    padding: 0;
                    margin: 0;
                }
            }

            ul {
                display: flex;
                font-size: 1.2rem;
                
                li {
                    padding-left: 2rem;
                    list-style: none;
                }
            }
        }

        .right {
            display: flex;
            align-items: center;

            #profile {
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid black;
                width: 2rem;
                height: 2rem;
                margin-left: 1rem;
                border-radius: 50%;
                background-color: #150861;
                color: white
            }

            input {
                border: none;
                outline: 1px solid #888888;
                padding: .5rem 1rem;
                border-radius: .75rem;
            }
        }
    }

    main {
        flex-grow: 1;
        
        #hero {
            max-width: 100vw;
            display: flex;
            padding: 10vh 20vw;

            .left {
                flex: 1;

                .dottedBorder {
                    max-width: fit-content;
                    display: flex;
                    align-items: center;
                    padding: .25rem 2rem;
                    border: 1px dotted #888888;
                    border-radius: 1rem;

                    p {
                        display: inline-block;
                        margin-right: 1rem;
                    }
                }

                .hugeText {
                    font-size: 4rem;
                    font-weight: bold;
                    margin: 0;
                    color: #150861;
                }

                .description {
                    line-height: 1.5rem;
                    color: #676565;
                }

                .call2action {
                    button {
                        padding: 1rem;
                        margin-left: 1rem;
                        font-size: 1rem;
                        border: none;
                        background-color: #fff;
                        outline: 2px solid #888888;
                        border-radius: .75rem;

                    }
                    
                    #b2 {
                        background-color: #150861;
                        color:#fff;
                    }
                }
            } 
            
            .right {
                flex: 1;

                img {
                    max-height: 50vh;
                }
            }

        }

        #stats {

            padding: 2vh 20vw;
            color: White;

            #top {
                width: 100%;
                background-color: #150861;
                display: flex;
                justify-content: center;
                padding: 2.5rem 0;
                border-radius: 1rem;
                border-top-right-radius: 8rem;


                .rBorder {
                    border-right: 2px solid white;
                }
                .sChild {
                    display: flex;
                    align-items: center;
                    padding-left: 2rem;
                    padding-right: 2rem;


                    .l {
                        min-height: 3rem;
                        min-width: 3rem;
                        margin-right: 1rem;
                        background-color: #BABAFFB2;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }

            }
            
            .title {
                font-size: 2.5rem;
                font-weight: bold;
                margin: 0;
            }

            .desc {
                margin: 0;
                color:#676565;
                font-size: .9rem;
            }

            #bottom {
                width: 100%;
                display: flex;
                margin-top: 2rem;
                
                #sleft {
                    background-color: #08614e;
                    flex: 3;
                    padding: 2rem;
        

                    .features {
                        margin-top: 1rem;

                        .fChild {
                            height: 1.5rem;
                            display: inline-block;
                            background-color: white;
                            color: #08614e;
                            margin: .5rem;
                            padding: .5rem 1rem;
                            border-radius: 2rem;
                        }
                    }
                    

                }

                #sright {
                    margin-left: 2rem;
                    background-color: #150861;
                    flex: 2;
                    padding: 2rem;

                }


            }
        }
    }

    .cBorderSm {
        border-top-right-radius: .75rem;
        border-bottom-left-radius: .75rem;
    }
    .cBorder {
        border-top-right-radius: 44px;
        border-bottom-left-radius: 44px;
    }

}


@media screen and (min-width: 600px) and (max-width: 1100px) {

    header {
        
    }
    body > main > #hero {
        padding: 16vw 2vw;
    }

    body > main > #stats {
        padding: 2vh 3vw;
    }
}



@media (max-width: 600px) {
    header {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .right {
            padding-bottom: 2rem;
        }
    }

    #hero {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
      
}