body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    
    
    #left {
        
        padding-top: 4vh;
        flex:1;
        display: flex;
        flex-direction: column;
        padding-left: 4vw;
        background-color: #232121;
        color: white;

        #header {
            flex: 1;
            font-size: 1.5rem;
        }

        #info {
            flex: 3;

            .sub-point {
                margin-bottom: 1rem;
            }

            > p {
                font-size: 3rem;
            }

            img {
                height: 1rem;
            }

            span {
                padding-left: .5rem;
            }
        }

        #reviews {
            flex: 3;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .images {
                display: flex;
                justify-content: space-evenly;
                padding: 2rem 0;

                img {
                    height: 2rem
                }
            }
        }

        #waves {
            flex: 3;
        }
    }

    #right {
        flex: 1;

        display: flex;
        align-items: center;
        justify-content: center;

        form {
            display: flex;
            flex-direction: column;
            min-width: 30vw;

            .formInfo {
                padding-bottom: 1rem;
            }

            div {
                flex: 1;
                
            }

            #heading {
                font-size: 3rem;
                margin-bottom: 0;
            }

            .inputDiv {
                label {
                    display: block;
                }

                input {
                    width: 100%;
                    margin-top: 1rem;
                    margin-bottom: 1rem;
                    padding-left: 1rem;
                    height: 2rem;
                    border: none;
                    outline: 1px solid grey;
                    border-radius: 1rem;

                }
            }

            .actions {
                padding-top: 2rem;
                display: flex;
                align-items: center;
                justify-content:space-between;

                #slides {
                    display: flex;

                    div {
                        height: 2px;
                        width: 2rem;
                        background-color: black;
                        margin: .5rem;
                    }
                }

                button {
                    width: 5rem;
                    height: 3rem;
                    border: none;
                    border-radius: 1.5rem;
                    background-color: black;
                    color: white;

                }
            }


        }

    }
}

@media (max-width: 600px) {
    body {
        display: block;

        #left, #right  {
            padding: 1rem;
        }
    }
}